<div id="aboutme">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2>About Me</h2>
            <img src="images/profile.jpg"  alt="Profile Picture" height="200" width="150" style="float: left; padding: 0 10px 10px 0;">
            <div class="text-box">
                <p>My name is André Miguel Stielau, I'm an electrotecnical and computer engeneering (<a href="https://fenix.tecnico.ulisboa.pt/cursos/meec">MEEC</a>)
                student at <a href="http://tecnico.ulisboa.pt">Instituto Superior Técnico</a>, since 2011, and a self taught full-stack developer, since 2013.</p>
                <p>I grew up in a town near Lisbon called Oeiras and it's where I'm living at the moment. </p>
                <p>My main interest at the moment is programming, more precisely full-stack development,
                where I can acquire and apply knowledge about some of the most interesting areas of work,
                and where I intend to include some incoming tecnologies about <a href="https://en.wikipedia.org/wiki/Internet_of_Things">IoT</a>
                in order to have more interaction with the phisical world.</p>
                <br/>
                <p>Some other interests I have are: </p>
                <p>Music: I used to play bass in a band with friends, we got to play at some shows, including with the international band Biohazard.</p>
                <p>Occult: Currently studing to debunk many miths about occult sciences and religions.
                I think that, with proper analisys, many antient writings can provide very interesting and usefull information to better develop a life.
                Most of all, I'm trying to reconnect the occult sciences, psychology and philosophy.</p>
                <p>Camping: As a former scout, I love camping and outdoors, I've camped many times and learned a lot from it,
                from putting up a tent to building a campfire, including building dining tables and shelters for the night,
                it is one of my favorite occupations, especially in festivals, where my zest for music joins my passion for camping, becoming a perfect combination.
                I strongly recommend both portuguese and abroad musical festivals,
                especially <a href="http://www.hellfest.fr/">Hellfest</a> and <a href="http://downloadfestival.co.uk/">Download</a></p>
            </div>
        </div>
    </div>
</div>
