<div id="contacts">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <h2>Contacts</h2>
            <div class="text-box">
                <address style="font-size: 100%">
                  Lisbon, Oeiras<br>
                  <i class="fa fa-phone"></i>: +351 913542499<br>
                  <i class="fa fa-envelope"></i>:
                  <a href="mailto:a.m.stielau@gmail.com">A.M.Stielau@gmail.com</a><br>
                  <i class="fa fa-linkedin-square"></i>: <a href="www.linkedin.com/in/andré-stielau-283ab2b6">LinkedIn</a><br>
                  <i class="fa fa-github-square"></i>:  <a href="github.com/tilau2328">Github</a><br>
                  <i class="fa fa-facebook-square"></i>: <a href="www.facebook.com/andre.stielau">Facebook</a>
               </address>
            </div>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+351913542499"><i class="fa fa-phone"></i> Call </a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype </a>
                <a type="button" class="btn btn-success"><i class="fa fa-envelope-o"></i> Email </a>  <!-- Implementar uma janela para enviar email -->
            </div>
        </div>
    </div>
</div>
