<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="form.$valid && formData.login()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="formData.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">Username is required</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
            <label for="username">Email</label>
            <input type="email" name="email" class="form-control" ng-model="formData.email" required />
            <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                <div ng-message="required">Email is required</div>
                <div ng-message="email">Invalid Email</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="formData.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="loading" class="btn btn-primary" ng-click="register()">Register</button>
        </div>
        <div ng-if="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
